h1{
    font-family:"Bonheur Royale", cursive;
    text-align: center;
    font-size:5rem;
    font-weight: 100;
}
p{
     font-family:"Bonheur Royale", cursive;
     font-size: 30px;
     


}
.heroimages{
    display: flex;
    justify-content: center;
    gap: 400px;
    padding: 5rem;
    height: 50px;
}
.heroimages1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 5rem;
    height: 50px;
}
h1:hover{
    color:rgb(72, 180, 230);
}
.heroimages1 img{
    height: 100px;
    transition: height 0.3s ease;
}
.heroimages1 img:hover{
    
    height: 150px;
}
.heroimages img:hover{
    height: 100px;
}
.container{
   background:rgb(241, 243, 244);
}
.profile{
    border-radius: 50%;
    height:200px;
    width: 190px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.flex{
    display:flex;
    align-items: center;
    justify-content: center;
}
.flex1{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}